.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;

  @media screen and (max-width: 850px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1000px) {
    padding: 60px;
  }

  @media screen and (min-width: 1400px) {
    padding: 100px;
  }

  @media screen and (min-width: 1800px) {
    padding: 150px;
  }

  mat-card {
    width: 400px;
    height: 400px;

    @media screen and (max-width: 1000px) {
      width: 270px;
    }

    @media screen and (max-width: 850px) {
      margin-top: 15px;
      width: 100%;
    }

    &:first-child {
      @media screen and (max-width: 850px) {
        margin-top: 0;
      }
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
}

.description {
  display: flex;
  justify-content: center;
}

.description-text {
  width: 200px;
  text-align: center;
}

.cta {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.group-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    width: 165px;
    height: 165px;
  }
}

.circle {
  background-color: #bbdefb;
  width: 250px;
  height: 250px;
  border-radius: 100%;
}
