.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.google-logo {
  display: inline-block;
  background-image: url('/assets/google.svg');
  background-position: center;
  height: 18px;
  width: 18px;
  margin-right: 6px;
}

.auth-container {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  justify-content: flex-end;
}

.avatar {
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  transform: scale(1.02);
  border-radius: 100%;
}

.avatar-border {
  border: 2px solid #ccc;
  border-radius: 100%;
}

mat-nav-list {
  i {
    margin-right: 5px;
  }
}

.mat-nav-list {
  .mat-list-item {
    &.active, &:focus {
      background-color: lighten(#bbdefb, 10%);
      color: #3f51b5;
    }
  }
}
