<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>{{ sideNav.opened ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
    <h1 class="app-name" routerLink="/" routerLinkActive="router-link-active"> Camera Bindings </h1>
    <div class="auth-container">
      <div *ngIf="afAuth.user | async as user; else showLogin">
        <div class="avatar-border">
          <img class="avatar" [src]="user.photoURL1 || '/assets/burglar.svg'" />
        </div>
      </div>
      <ng-template #showLogin>
        <button mat-raised-button (click)="login()">
          <span class="google-logo"></span> Sign in
        </button>
      </ng-template>
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav #sideNav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <mat-list-item routerLink="dashboard" routerLinkActive="active">
          <mat-icon matListIcon>dashboard</mat-icon>
          Dashboard
        </mat-list-item>
        <mat-list-item routerLink="bindings" routerLinkActive="active">
          <mat-icon matListIcon>folder_open</mat-icon>
          Bindings
        </mat-list-item>
        <mat-list-item routerLink="menu 2" routerLinkActive="active">
          <mat-icon matListIcon>notifications_none</mat-icon>
          Menu 2
        </mat-list-item>
        <mat-list-item (click)="logout()" *ngIf="afAuth.user | async">
          <mat-icon matListIcon>exit_to_app</mat-icon>
          Sign out
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
